* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-container>div {
    background-color: #f1f1f1;
    font-size: 18px;
    flex: 33.33%;
    width: 30vw;
    height: 60vh;
    margin-bottom: 17px;
}

@media only screen and (max-width: 900px) {
    .flex-container>div {
        flex: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .flex-container>div {
        flex: 100%;
    }

    .homepage p {
        font-size: 30px;
    }
}

p.petInfo {
    color: rgb(119, 2, 119);
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}

.petPhoto {
    width: 270px;
    height: 310px;
    object-fit: scale-down;
}

.siteTittle {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30pt; 
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: buttonface;
    height: 100px;
}

.navlink {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15pt;
    text-decoration: none;
    padding: 40px;
    padding-bottom: 10px;
    color: #46474f;
    display: flex;
}

.authnav {
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 60px 40px 0 0;
    float: right;
    text-transform: uppercase;
}

.authLink {
    text-decoration: none;
    padding-left: 30px;
    color: #737373;
}

.header {
    width: 100%;
    background-color: #FFD700;
    color: #737373;
    font-size: 40pt;
    padding-top: 5px;
    padding-left: 70px;
    padding-bottom: 3px;
}

.petLogo {
    width: 170px;
    height: 150px;
    padding-right: 20px;
}

.homepage {
    font-size: 28pt;
    font-family: 'Roboto', sans-serif;
    background-color: cornsilk;
}

.homepage p {
    margin: 0 auto;
    padding: 80px 0 80px 0;
    width: 50vw;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(119, 2, 119);
}

.home-photo-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.home-photo-flex-container>img {
    flex: 33.33%;
}

.homePetPhoto {
    width: 330px;
    height: 370px;
    /* width: 440px;
    height: 480px; */
    object-fit: cover;
    /* object-fit: scale-down; */
}

.home-photo-flex-container>div {
    flex: 33.33%;
}

.homeCard {

    font-size: 15px;
    height: 300px;
}

/********Pet Details Style**********/

.petDetailsContainer {
    background-color: cornsilk;
    padding-bottom: 50px;
}

.petTopDetails {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.petTopDetails h1 {
    color: rgb(119, 2, 119);
    padding: 60px 0 30px 0;
    margin-top: 0;
}

.petTopDetails p {
    color: black;
    width: 55%;
    margin: 20px auto;
    text-align: center;
    font-size: 17pt;
    padding-bottom: 40px;
}

.petDetails p {
    color: black;
    /* width: 55%; */
    /* margin: 20px auto; */
    /* text-align: center; */
    font-size: 14pt;
    padding-bottom: 40px;
    float: left;
    padding-right: 200px;
    padding-left: 100px;
    padding-top: 30px;
    line-height: 40px;
}

.stats {
    text-transform: uppercase;
    font-size: 11pt;
    color: rgb(119, 2, 119);
    font-weight: bold;
}

.emailInfo {
    font-size: 17px;
    margin: 90px 100px;
    font-weight: bold;
}

/********End Pet Details Style**********/


/********Image Slider**********/

.sliderContainer {
    /* width: 800px;
    height: 500px;
    margin: 0 auto; */
    width: 800px;
    height: 500px;
    display: inline-block;

}

.sliderStyle {
    height: 100%;
    position: relative;
}

.leftArrayStyle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.rightArrayStyle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.dotsStyleContainer {
    display: flex;
    justify-content: center;
}

.dotsStyle {
    margin: 10px 8px;
    cursor: pointer;
    font-size: 10px;
}

/******End Image Slider********/



/******Under Construction********/

.underConstruction {

    margin: 0 auto;
    height: 650px;
    width: 700px;
    font-family: 'Roboto', sans-serif;

}

.underConstruction h2 {
    text-align: center;
    font-size: 30pt;
    margin: 50px 0;

}


/******Under Construction********/


/*Footer*/

.site-footer {
    background-color: #263238;
    /* background-color: #26272b; */
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer a {
    color: #737373;
}

/* end of footer*/


/* Login & Form */
.loginPage {
    padding-top: 30px;
}

.loginform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    margin: auto;
    background-color: white;
}

.formItems {
    padding-top: 30px;
}

.formItems button {
    background-color: #FFD700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5%;
    margin-top: 40px;
}

h3 {
    margin-top: 80px;
    margin-left: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
    text-transform: uppercase;
}

.formLabel {
    display: inline-block;
    width: 200px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.logo {
    height: 50px;
}