.flex-container {
    display: flex;
    /* background-color: #747ef9; */
    background-color: #8e8797;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 30px; */
    justify-content: center;
    justify-content: space-around;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 30vw;
    height: 60vh;
  }

.petPhoto {
    width: 90%;
    height:80%;
} 

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: buttonface;
    height: 100px;
}

.navlink {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15pt;
    text-decoration: none;
    padding: 40px;
    padding-bottom: 10px;
    color: #46474f;
}

.authnav {
    /* font-size:10pt;     */
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;

}

.authLink {
    text-decoration: none;
    padding-left: 20px;
    color: white;
}

.loginPage {
    background-color: #747ef9;
    padding-top: 30px;
}

.loginform {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    margin: auto;
    background-color: white;
}

.formItems {
    padding-top: 30px;
}

h3 {
    margin-top: 80px;
    margin-left: -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30pt;
    color: #004477;
}

.formLabel {
    display: inline-block;
    width: 200px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.logo {
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    /* background-color: #747ef9; */
    background-color: #83a2dc;
    color: white;
    font-size: 40pt;
    font-family: 'Bebas Neue', cursive;
    padding-top: 20px;
}

.homepage {
    background: url("/public/lighthouse_bg.jpg");
    height: 80vh;

    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}

.homepage p {
    margin-left: 10vw;
    padding-top: 20px;
    width: 40vw;
}